POSTGRES_USER=chirpstack
POSTGRES_PASSWORD=
POSTGRES_DB=chirpstack

# ChirpStack API token signing secret, generate with: openssl rand -base64 32
CHIRPSTACK_API_SECRET=

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=
